* {
	box-sizing: border-box;
}

body {
  background-color: white;
  color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


/* HEADER */
#header-nav {
	background: url('../images/menu_background.jpg') no-repeat;
	border-radius: 0;
	border: solid 1px white;
	height: 150px;
}

.navbar-brand h1 {
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 1.7em;
	font-weight: bold;
	line-height: .75;
	margin-bottom: 0;
	margin-top: 90px;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 85px;
}

#nav-list a {
	color: red;
	font-size: 20px;
	margin: 0;
  padding: 10px;
  text-align: center;
	text-shadow: 1px 1px 1px #222;
}

#nav-list li {
  margin: 2px;
}

#nav-list li:hover {
	margin: 1px;
}

#collapsable-nav #nav-list > li > a:hover {
  color: #837b7b; 
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fff;
	background: transparent;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -45px;
}

.navbar-header button.navbar-toggle:hover {
	background: #555;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 5px #555;
}

#github-tile, #ffc-tile, #map-tile {
  height: 250px;
  width: auto;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
}

#github-tile:hover, #ffc-tile:hover, #map-tile:hover {
  box-shadow: 0 2px 5px 2px #777;
}

#github-tile {
  background: url('../images/github.jpg') no-repeat;
  background-position: center;
}

#ffc-tile {
  background: url('../images/ffc.jpg') no-repeat;
  background-position: center;
}


#github-tile span, #ffc-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* ENG HOME PAGE */

/*** LARGE DEVICES ***/
@media (min-width: 1200px){
  /* Header */
  .navbar-brand h1 {
      font-size: 40px;
    }

  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/mac1200.jpg') no-repeat;
    height: 668px;
    margin-top: 30px;
  }
  /* End Home Page */

  
}

/*** MEDIUM DEVICES ***/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-brand h1 {
      font-size: 40px;
    }
  /* End Header */  


  /* Home Page */
  .container .jumbotron {
    background: url('../images/mac992.jpg') no-repeat;
    height: 552px;
    margin-top: 30px;
  }
  /* End Home Page */
}

/*** SMALL DEVICES ***/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .navbar-brand h1 {
      font-size: 35px;
    }
  /* End Header */  

  /* Home Page */
  .container .jumbotron {
    background: url('../images/mac768.jpg') no-repeat;
    height: 427px;
    margin-top: 30px;
  }
  /* End Home Page */
}

/*** XS DEVICES ***/
@media (max-width: 767px) {
	/* Header */

  .navbar-header button.navbar-toggle {
    clear: both;
  }

  .navbar-brand {
		height: 80px;
	}

	.navbar-brand h1 {
		font-size: 5vw;
    margin-top: 25px;
	}

  #header-nav {
  height: 80px;
  }

  #nav-list {
    margin-top: 1px;
  }

  #collapsable-nav #nav-list > li > a {
  background: url('../images/menu_background.jpg') no-repeat;
  border: 1px solid black;
  }

  #collapsable-nav #nav-list > li > a:hover {
  background: white;
  } 
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #github-tile, #ffc-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}

/*** SUPER EXTRA SMALL DEVICES (iPhone 4 etc) ***/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home Page */
  #github-tile, #ffc-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

}

/* FOOTER */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  height:10px;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
}

#contact-me {
  color: #fff;
  background-color: #222;
}

#contact-me h2 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#contact-me span {
  color: #4f5395;
  font-weight: bold;
  font-size: 25px;
}

#contact-me span:hover {
  color: #ac8cb2;
  cursor: pointer;
  padding: 1px;
}


.panel-footer {
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 30px;
  padding-top: 35px;
  color: #fff;
  background: url('../images/menu_background.jpg') no-repeat;
  border-top: 0;
}


.panel-footer div.row {
  margin-bottom: 35px;
}

#footer-content a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

#footer-content a:hover {
  color: #837b7b;
  margin: 1px;
}



/* END FOOTER */

